/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#page-content {
  flex-grow: 2;
  padding: 20px;
}

p {
  margin: 0.5rem 0;
}

/* Buttons */
button, .button {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover, .button:hover {
  background-color: #333;
  color: #fff;
}
.btn-primary {
  margin-top: 0.5rem;
}

/* Navbar */
.navBar {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #0b0728;
  font-size: 1.1em;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.navBar:hover {
  color: #f4f4f9;
  background-color: #d2dbf7;
  border-radius: 5px;
}

/* General Layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  color: #0b0728;
  margin: 0;
  padding: 0.5rem 0;
}

/* Forms */
input[type="text"], input[type="email"], input[type="password"], textarea, select {
  width: 100%;
  max-width: 400px; /* Adjusted for a more controlled width */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border-color: #0b0728;
  outline: none;
}

/* Container */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Links */
a {
  color: #0b0728;
  text-decoration: none;
}

a:hover {
  color: #f4f4f9;
  background-color: #0b0728;
  border-radius: 5px;
  padding: 5px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #0b0728;
  color: #f4f4f9;
}

/* Flexbox Utilities */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
